@font-face {
    font-family: 'Jost-Regular';
    src: local('Jost-Regular'), url(../fonts/Jost-Regular.ttf) format('truetype');
    font-weight: initial;
}

@font-face {
    font-family: 'Dmserif';
    src: local('Dmserif'), url(../fonts/DMSerifDisplay-Regular.ttf) format('truetype');
    font-weight: initial;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-nav {
    width: 100%;
}

.nav {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 75px;
    height: 40px;
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}


.link {
    font-family: 'Jost-Regular';
    font-size: 15px;
}

.logo {
    width: 50%;
}

A {
    color: black;
    text-decoration: none;
    transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

A:visited {
    color: #000000;
}

A:active {
    color: #000000;
}

a:hover {
    color: #CDA274
}

.container-main {
    height: calc(100vh - 76px);
    width: 100%;
    background-image: url(../images/bgmain.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 130%;
    display: flex;
    align-items: center;

}

.main-text {
    height: 385px;
    margin-left: 120px;
}

h1 {
    font-family: 'Dmserif';
    font-size: 65px;
    margin: 0;
}

.top-text {
    font-family: 'Jost-Regular';
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 20px;
}

.main-button {
    background-color: #292F36;
    display: flex;
    width: 180px;
    justify-content: space-around;
    align-items: center;
    padding: 13px;
    border-radius: 17px;
    font-family: 'Jost-Regular';

}

.main-button div {
    color: white;
}

.container-design {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 100px;
    height: 190px;
}

h2 {
    font-family: 'Dmserif';
    font-size: 22px;
    margin: 0;
}

.main-design-text h2 {
    text-align: center;
}

.main-design-text p {
    text-align: center;
    font-family: 'Jost-Regular';
}

.main-design-button {
    display: flex;
    justify-content: center;
    font-family: 'Jost-Regular';
}

.main-design-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-secondpage {
    width: 70%;
    height: 450px;
    border-bottom-left-radius: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 80%;
    display: flex;
    align-items: center;
    margin-top: 160px;
}

.secondpage-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.secondpage-text h1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    font-family: 'Dmserif';
    font-size: 37px;
}

.secondpage-text p {
    font-family: 'Jost-Regular';
    font-size: 16px;
}

.rectangle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #F4F0EC;
    background-image: url(../images/phone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 43%;
}

.call-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.call-info p {
    margin: 0;
    margin-left: 10px;
}

.image-secondpage {
    background-image: url(../images/secondBG.png);
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 130%;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 360px;
}

.conainer-people {
    margin-top: 150px;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F0EC;
    border-radius: 40px;
    padding-bottom: 70px;
}

.conainer-people h1 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 37px;
}

.block-people {
    display: flex;
    width: 93%;
    justify-content: space-around
}

.block-name {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    width: 27%;
}

.person {
    display: flex;
    align-items: center;
    text-align: left;

}

.person img {
    width: 70px;
}

.person-name {
    margin-left: 17px;
}

.person-name h2 {
    font-family: 'Dmserif';
    font-size: 26px;
}

.text-under-name {
    font-family: 'Jost-Regular';
    font-size: 17px;
    margin-top: 4px;
}

.text-under-photo {
    text-align: left;
    font-family: 'Jost-Regular';
    font-size: 17px;
}

.brands {
    display: flex;
    margin-top: 90px;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}

.conainer-project {
    width: 70%;
}

.top-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

}

.top-project h1 {
    font-family: 'Dmserif';
    font-size: 50px;
}

.bot-project {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.bot-project p {
    font-family: 'Jost-Regular';
    font-size: 17px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 49%;
}

.card img {
    width: 100%;
}

.text-undercard h1 {
    font-family: 'Dmserif';
    font-size: 20px;
    margin-top: 20px;
}

.text-undercard p {
    font-family: 'Jost-Regular';
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}

.container-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.micro-arrow {
    background-color: #F4F0EC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/microArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 30%;
    margin-right: 10px;
}
.container-Join{
    width: 70%;
    background-color: #292F36;
    border-radius: 40px;
    text-align: center;
    height: 300px ;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.contact-button{
    display: flex;
    background-color: #CDA274;
    width: 180px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    justify-content: space-evenly;
    height: 60px;
    margin-top: 40px;
}
.text-inbutton{
    font-family: 'Jost-Regular';
    font-size: 13px;
    text-align: center;
    padding: 13px;
}
.contact-button div{
    color: #ffffff;
}
.text-join{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-join h1{
    font-family: 'Dmserif';
    font-size: 35px;
    color: white;
}
.text-join p{
    font-family: 'Jost-Regular';
    font-size: 13px;
    color: white;
}
.container-footer{
    width: 70%;
    margin-top: 60px;
}
.nav-footer{
    display: flex;
    justify-content: space-between;
}
.nav-footer h2{
    font-family: 'Dmserif';
    font-size: 16px;
}
.nav-footer p{
    font-family: 'Jost-Regular';
    font-size: 12px ;
}
.left-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social-footer{
    display: flex;
    width: 65%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.links-footer{
    display: flex;
}
.right-footer{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.link-container a{
    font-family: 'Jost-Regular';
    font-size: 12px;
}
.pages-footer .link-container{
    margin-top: 10px;
}
.Copyright-footer{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}
.Copyright-footer p{
    font-family: 'Jost-Regular';
    font-size: 12px;
}
.polosochka-footer{
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 40px;
}
.logo img{
    width: 90px;
}
@media (min-width: 2048px){
    .link-container a{
        font-size: 20px;
        
    }
    .nav{
        height: 60px;
    }
    .logo img{
        width: 120px;
    }
    h2{
        font-size: 33px !important;
    }
    h1{
        font-size: 44px !important;
    }
    p{
        font-size: 23px !important;
    }
    .text-inbutton{
        font-size: 18px;
    }
    .link{
        font-size: 23px;
    }
    .image-secondpage{
        border-bottom-left-radius: 180px;
        border-top-right-radius: 610px;
    }
    .container-secondpage{
        height: 780px;
        
    }
    .container-Join {
    height: 450px;
    }
    .contact-button {
    width: 220px;
    height: 80px;
    }
    .contact-button img{
        width: 30px;
    }
    

}