@font-face {
    font-family: 'HeptaSlab-regular';
    src: local('Hepta'), url(../fonts/HeptaSlab-Regular.ttf) format('truetype');
    font-weight: initial;
}

@font-face {
    font-family: 'RocknRollOne-Regular';
    src: local('RocknRoll'), url(../fonts/RocknRollOne-Regular.ttf) format('truetype');
    font-weight: initial;
}


body {
    margin: 0;
    background-color: #ffff;
}

A {
    color: rgba(0, 0, 0, 0.55);
    ;
    text-decoration: none;
}

input:focus-visible {
    outline: none;
}

strong {
    color: rgba(255, 110, 48, 1);
}

.main-input {
    margin: 0 16px;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.527);
    font-family: 'Hepta';
    width: 60%;
}

.join-search-top {
    padding: 7px 8px;
    background-color: #dfdfdf;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
    width: 50%;
}

.join-search-photo {
    padding: 7px 8px;
    background-color: #dfdfdf;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    width: 13%;
    text-align: center;
}

.add-photo {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.add-photo p {
    margin-left: 20px;
}

button {
    background: none;
    cursor: pointer;
    border-radius: 0;
    border: none;
    font-weight: initial;
}

button:focus {
    outline: 0
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.container {
    margin: 30px 7%;
}

.logo {
    font-family: 'Hepta';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    color: rgba(0, 0, 0, 0.9);

}

.container-nav {
    margin-top: 30px;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Hepta';
    font-size: 13px;
}


.top_yelow_polosa {
    display: flex;
    background-color: #FFA537;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.zakaz_zvonka {
    display: flex;
    width: 80%;
}

.nav-button-top {
    padding: 11px 25px;
    border-radius: 10px;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.nav-button-top-a {
    padding: 11px 25px;
    border-radius: 10px;
    border: 1px solid black;
    background: #dfdfdf;
    color: rgb(0, 0, 0);
}

.add-photo-link {
    margin-left: 30px;
    background-color: #dfdfdf;
}

.nav-button {
    padding: 11px 25px;
    border-radius: 10px;
    border: 1px solid black;
    background: rgb(255 190 74);
    color: rgb(0, 0, 0);
}

.sign-up {
    background: rgb(255 190 74);
    color: rgb(0, 0, 0);
}

.top-text {
    display: flex;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Hepta';
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}


.top-text h1 {
    font-size: 40px;
    line-height: 150%;
}

.top-text p {
    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
    line-height: 30px;
}

.container-main {
    display: flex;
    justify-content: center;
    ;

}

.ssel_info h1 {
    margin-left: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Hepta';
    flex-direction: column;
    align-items: center;
}

.about_car {
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 40px;
}

.main-input {
    margin: 0 16px;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.527);
    font-family: 'Hepta';
    width: 60%;
}

.end-page {
    display: flex;
    justify-content: center;
}

.join-us {
    width: 50%;
    display: flex;
    justify-content: center;
}

.end-text {
    display: flex;
    color: rgb(0, 0, 0);
    font-family: 'Hepta';
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.end-text h1 {
    font-size: 48px;
    color: rgb(0, 0, 0);
}

.end-text p {
    font-size: 18px;
    text-align: center;
    color: rgb(0, 0, 0);

}

.join-search {
    padding: 7px 8px;
    background-color: #ffff;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 50%;
}

.polosochka-footer {
    background: rgba(12, 12, 12, 0.15);
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    margin-top: 100px;
}

.container-footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.naming-footer {
    display: flex;
}

.naming-footer h2 {
    font-family: 'Hepta';
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);

}

.under-logo h2 {
    font-family: 'Hepta';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.under-logo p {
    font-family: 'Hepta';
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
}

.logo-footer {
    display: flex;
    flex-direction: column;
}

.pages-footer h2 {
    font-family: 'Hepta';
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.pages-footer p {
    font-family: 'Hepta';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.pages-footer a {
    font-family: 'Hepta';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 2560px) and (min-width: 2000px) {
    .logo {
        font-size: 26px;
        width: 175px;
    }

    .link-container a {
        font-size: 26px;

    }

    .top-text h1 {
        font-size: 64px;
    }

    .top-text p {
        font-size: 32px;
    }

    .nav-button {
        font-size: 26px;
    }

    .container-items {
        width: 70%;
    }

    .container-tools {
        width: 500px;
        height: 365px;
    }

    .tools img {
        width: 84px;
        max-height: 85px;
    }

    .about-tools {
        font-size: 21px;
    }

    .name-tools h2 {
        font-size: 30px;
    }

    .bot-buttons a {
        font-size: 25px;
    }

    .logo img {
        width: 120px;
    }

    .like-folder {
        width: 30%;
    }

    .like-folder svg {
        height: 47px;
        width: 47px;
    }

    .like-folder img {
        width: 47px;
    }

    .load-more {
        font-size: 30px;
    }

    .ico-brands img {
        width: 16%;
    }

    .text-newcomer h1 {
        font-size: 75px;
    }

    .text-newcomer p {
        font-size: 32px;
    }

    .note-tools p {
        font-size: 20px;
    }

    .about-new-tools {
        font-size: 17px;
    }

    .new-tools {
        width: 400px;
        height: 350px;
    }

    .containernew-like-folder {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .containernew-like-folder svg {
        height: 47px;
        width: 47px;
    }

    .containernew-like-folder img {
        width: 47px;
    }

    .left-arrow svg {
        width: 30px;
        height: 42px;
    }

    .right-arrow svg {
        width: 30px;
        height: 42px;
    }

    .right-text-person p {
        font-size: 26px;
    }

    .person-photo img {
        border-radius: 30px;
        width: 400px;
    }

    .person-photo {
        height: 590px;
    }

    .name-person h2 {
        font-size: 35px;
    }

    .name-person p {
        font-size: 20px;
    }

    .up-pointer p {
        font-size: 250px;
    }

    .main-input {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .link-container a {
        font-size: 20px;
    }

    .links {
        width: 50%;
    }

    .top-text h1 {
        font-size: 30px;
    }

    .top-text p {
        font-size: 17px;
    }

    .nav {
        height: 60px;
    }

    .nav-button {
        font-size: 13px;
    }

    .container-items {
        width: 70%;
    }

    .container-tools {
        width: 340px;
    }

    .right-tools {
        margin-left: 50px;
        width: 70%;
    }

    .brands p {
        margin: 20px 10px;
    }

    .ico-brands {
        width: 90%;
    }

    .ico-brands img {
        width: 24%;
        margin-bottom: 10px;
    }

    .text-newcomer h1 {
        font-size: 35px;
    }

    .end-text h1 {
        font-size: 48px;
        text-align: center;
    }

    .text-newcomer p {
        font-size: 14px;
    }

    .name-tools h2 {
        font-size: 20px;
    }

    .note-tools p {
        font-size: 15px;
    }

    .about-new-tools {
        font-size: 14px;
    }

    .newcomer-tools {
        width: 30%;
    }

    .new-tools {
        width: 249px;
        height: 260px;
        margin-left: 20px;
    }

    .person {
        width: 90%;
    }

    .right-text-person p {
        font-size: 14px;
    }

    .up-pointer p {
        font-size: 250px;
    }

    .left-arrow {
        padding: 0px 30px
    }

    .right-arrow {
        padding: 0px 30px
    }

    .main-input {
        font-size: 14px;
    }

    .join-search .search {
        padding: 6px 15px;
    }

    .main-container-person {
        margin: 0;
    }

    .container-person {
        margin: 100px;
    }

    .bot-sliders {
        width: 30%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .logo img {
        width: 30px;
    }

    .nav {
        position: relative;
        align-items: normal;
        flex-direction: column;
    }

    .logo {
        margin-left: 10px;
        font-size: 25px;
    }

    .container-login {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
    }

    .container-login .nav-button {
        font-size: 20px;
    }

    .nav-button {
        padding: 1px 15px;
    }

    .container-nav {
        margin-top: 0;
    }

    .container {
        margin: 0
    }

    .link-container a {
        font-size: 19px;
    }

    .links {
        margin-left: 10px;
        align-items: normal;
        flex-direction: column;
        width: 70%;
    }

    .container-main {
        margin: 10px 30px;
    }

    .top-text {
        width: 90%;
    }

    .main-picture {
        width: 0%;
    }

    .top-text h1 {
        font-size: 34px;
    }

    .top-text p {
        font-size: 21px;
    }

    .icon-search {
        width: 19px;
    }

    .main-input {
        margin: 0 3px;
        font-size: 12px;
    }


    .text-second h1 {
        text-align: center;
    }

    .nav-button {
        font-size: 13px;
    }

    .social {
        margin-top: 30px;
        width: 85%;
    }

    .second-page {
        margin-top: 200px;
    }

    .container-items {
        width: 95%;
    }

    .container-tools {
        height: 300px;
        width: 300px;
    }

    .bot-buttons .nav-button {
        font-size: 20px;
    }

    .button-bot-second {
        width: 40%;
    }

    .brands {
        height: auto;
    }

    .brands p {
        margin: 20px 10px;
    }

    .ico-brands img {
        width: 48%;
        margin-bottom: 10px;
    }

    .about-tools {
        margin-left: 10px;
    }

    .ico-brands {
        flex-wrap: wrap;
    }

    .third-page {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .newcomer-tools {
        align-items: center;
    }

    .newcomer-tools .nav-button {
        font-size: 19px;
    }

    .text-newcomer h1 {
        font-size: 35px;
        text-align: center;
    }

    .like-folder {
        width: 25%;
    }

    .text-newcomer p {
        font-size: 18px;
        margin-left: 25px;
    }

    .name-tools {
        margin-left: 20px;
    }

    .name-tools h2 {
        font-size: 18px;

    }

    .right-tools {
        width: 80%;
        margin: 20px 0;
        justify-content: space-between;
    }

    .note-tools p {
        font-size: 15px;
    }

    .about-new-tools {
        font-size: 14px;
    }

    .new-tools {

        height: 250px;
        margin-left: 0;
    }

    .container-person {
        margin-top: 0;
    }

    .main-container-person {
        margin-top: 30px;
        width: 90%;
    }

    .circle-container {
        margin-right: 90px;
    }

    .bg-circle {
        width: 260px;
        height: 260px;
    }

    .bg-circle2 {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 35px;
        top: 35px;
    }

    .person-photo {
        left: 20px;
        height: 350px;
    }

    .person-photo img {
        width: 220px;

    }

    .person {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .name-person {
        top: 340px;
        left: 0;
    }

    .right-text-person {
        margin-top: 40px;
    }

    .right-text-person p {
        font-size: 17px;
        margin-left: 20px;
    }

    .up-pointer {
        right: 15px;
        bottom: 180px;
    }

    .up-pointer p {
        font-size: 120px;
    }

    .left-arrow {
        padding: 50px 10px
    }

    .right-arrow {
        padding: 50px 10px
    }

    .join-us {
        width: 80%;
    }

    .end-text h1 {
        text-align: center;
    }

    .join-search .nav-button {
        font-size: 16px;
        width: 90px;
    }

    .join-search {
        width: 90%;
    }

    .bot-sliders {
        width: 70%;
    }

    .nav-footer {
        width: 98%;
    }

    .naming-footer h2 {
        font-size: 11px;
    }

    .under-logo h2 {
        font-size: 11px;
    }

    .under-logo p {
        font-size: 8px;
    }

    .pages-footer h2 {
        font-size: 9px;
        margin: 5px 5px;
    }

    .pages-footer p {
        font-size: 8px;
    }

    .pages-footer a {
        font-size: 8px;
    }
}

.active {
    fill: rgba(253, 59, 65, 1);
}