@font-face {
    font-family: 'Poppins-semiBold';
    src: local('Poppins'), url(../fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: initial;
}

@font-face {
    font-family: 'Poppins-regular';
    src: local('Poppins'), url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: initial;
}

@font-face {
    font-family: 'Poppins-medium';
    src: local('Poppins'), url(../fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: initial;
}
@font-face {
    font-family: 'Lora-medium', serif;
    src: local('Lora'), url(../fonts/Lora-Medium.ttf) format('truetype');
    font-weight: initial;
}

body {
    margin: 0;
    background-color: #1E252B;
}

A {
    color: rgba(255, 255, 255, 0.55);
    ;
    text-decoration: none;
}

input:focus-visible {
    outline: none;
}

strong {
    color: rgba(255, 110, 48, 1);
}
button{
    background: none;
    cursor: pointer;
    border-radius: 0;
    border: none;
    font-weight: initial;
}
button:focus{
    outline:0
}
* {
    -webkit-touch-callout: none; 
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none;
                                   
  }
.container {
    margin: 0 7%;
}

.logo {
    font-family: 'Poppins-semiBold';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    color: rgba(255, 255, 255, 0.9);

}

.container-nav {
    margin-top: 30px;
}

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins-medium';
    font-size: 13px;
}

.container-login {
    display: flex;
    font-family: 'Poppins-semiBold';
    font-size: 14px;
}

.nav-button {
    padding: 11px 25px;
    border-radius: 10px;

}

.sign-up {
    background: rgba(255, 110, 48, 1);
    color: white;
}

.top-text {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins-medium';
    margin-top: 100px;

}

.top-text h1 {
    font-size: 40px;
    line-height: 150%;
}

.top-text p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    line-height: 30px;
}

.container-main {
    display: flex;
    justify-content: space-between;
    ;
    margin-left: 7%;
}

.main-search {
    padding: 7px 8px;
    background: linear-gradient(0deg, #283036, #283036),
        linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.main-input {
    margin: 0 16px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.38);
    font-family: 'Poppins-regular';
    width: 60%;
}

.search {
    padding: 11px 35px;
}

.icon-search {
    margin-left: 10px;
    width: 25px;
}

.social {
    margin-top: 50px;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.second-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.text-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-second h1 {
    font-family: 'Poppins-medium';
    color: rgba(255, 255, 255, 0.9);
    font-size: 54px;
    margin-top: 190px;
}

.text-second p {
    font-family: 'Poppins-medium';
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    text-align: center;
}

.container-tools {
    width: 390px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6)),
        linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    overflow: hidden;
    height: 294px;
    margin-bottom: 80px;
}

.container-tools::before {
    transition: height 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    transition: width 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    width: 0;
    height: 0;
    content: " ";
}

.container-tools:hover {
    transform: translateY(-15px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.container-tools:hover::before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: " ";
    height: 65px;
    width: 65px;
    background: rgba(255, 110, 48, 0.6);
    filter: blur(50px);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.name-tools {
    margin-left: 30px;
}

.name-tools h2 {
    font-family: 'Poppins-medium';
    font-size: 23px;
    color: rgba(255, 255, 255, 0.9);
}

.note-tools {
    font-family: 'Poppins-regular';
    font-size: 18px;
    color: #FFA537;
}

.about-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Poppins-regular';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.78);
}

.bot-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 30px;
}

.like-folder {
    width: 20%;
    display: flex;
    justify-content: space-between
}
.like-svg{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bot-buttons a {
    font-family: 'Poppins-SemiBold';
}

.container-items {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;

}

.button-bot-second {
    display: flex;
    width: 11%;
    height: 60px;
    justify-content: center;
    background: #1E252B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    align-items: center;
}

.load-more {

    color: #FFA537;
    font-family: 'Poppins-medium';
}

.container-brands {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.brands {
    display: flex;
    width: 80%;
    height: 253px;
    background: linear-gradient(0deg, rgba(44, 53, 61, 0.2), rgba(44, 53, 61, 0.2)),
        linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
    background: rgba(44, 53, 61, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 25px;
    border: 2px solid;
    border-image-source: linear-gradient(92.39deg, rgba(255, 255, 255, 0.05) -4.6%, rgba(255, 255, 255, 0) 96.79%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.brands p {
    font-family: 'Poppins-medium';
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.ico-brands {
    margin-top: 55px;
    display: flex;
    width: 82%;
    justify-content: space-between;
}

.brands:hover::before {
    position: absolute;
    top: -5px;
    left: -5px;
    content: " ";
    height: 65px;
    width: 65px;
    background: rgba(255, 110, 48, 0.6);
    filter: blur(45px);
    transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.brands::before {
    transition: height 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    transition: width 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    width: 0;
    height: 0;
    content: " ";
}

.newcomer-tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-newcomer-tools {
    display: flex;
    justify-content: center;
}

.third-page {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 200px;
}

.right-tools {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
}

.new-tools {
    margin-left: 30px;

}

.new-tools {
    width: 288px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(40, 48, 54, 0.6), rgba(40, 48, 54, 0.6)),
        linear-gradient(118.49deg, rgba(255, 255, 255, 0.08) -2.11%, rgba(255, 255, 255, 0) 28.55%, rgba(255, 255, 255, 0.05) 44.69%, rgba(255, 255, 255, 0) 96.78%);
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    overflow: hidden;
    height: 284px;
    margin-bottom: 70px;
}

.new-tools::before {
    transition: height 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    transition: width 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    width: 0;
    height: 0;
    content: " ";
}

.new-tools:hover {
    transform: translateY(-15px);
    transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.new-tools:hover::before {
    position: absolute;
    top: 5px;
    right: 10px;
    content: " ";
    height: 65px;
    width: 65px;
    background: rgba(255, 110, 48, 0.6);
    filter: blur(50px);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.about-new-tools {
    font-family: 'Poppins-regular';
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    width: 80%;
}

.text-newcomer h1 {
    font-family: 'Poppins-medium';
    color: rgba(255, 255, 255, 0.9);
    font-size: 48px;
}

.text-newcomer p {
    font-family: 'Poppins-medium';
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer-tools {
    font-family: 'Poppins-medium';
    font-size: 18px;
}

.main-container-person {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 200px;
    align-items: center;
}
.container-person {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    align-items: center;
    flex-direction: column;
}

.person {
    display: flex;
    width: 80%;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}
.person-photo img{
    margin-top: 30px;
    border-radius: 30px;
}

.name-person {
    position: absolute;
    width: 265px;
    height: 91px;
    top: 295px;
    left: 200px;
    border: 1px solid;
    border-image: linear-gradient(96.67deg, rgba(255, 255, 255, 0.1) -5.21%, rgba(255, 255, 255, 0) 93.75%);
    border-image-slice: 1;
    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 8px;
    z-index: 4;
    overflow: hidden;
}
.name-person h2{
    font-family: 'Poppins-medium';
    font-size: 26px;
    color: rgba(255, 253, 253, 0.78);
    margin-bottom: 0;
    margin-top: 10px;
}
.name-person p{
    font-family: 'Poppins-regular';
    font-size: 16px;
    color: rgba(255, 253, 253, 0.55);
    margin-top: 0;
}
.about-person{
    margin-left: 23px;
}

.circle-container {
    position: relative;
    width: 380px;
    height: 380px;
}

.bg-circle {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 300px;
    background: rgba(40, 48, 54, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(50px);
    z-index: 0;
}

.person-photo {
    position: absolute;
    bottom: -80px;
    left: 50px;
    z-index: 3;
    width: 392px;
    height: 492px;
}

.bg-circle2 {
    position: absolute;
    width: 305px;
    height: 305px;
    border-radius: 300px;
    background: rgba(40, 48, 54, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(50px);
    z-index: 1;
    left: 40px;
    top: 40px;
}

.bg-circle-light {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: blur(40px);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 1;
}

.bg-circle3 {
    bottom: 50px;
    right: 15px;
    background: rgba(255, 110, 48, 0.6);
}

.bg-circle4 {
    top: 50px;
    left: 45px;
    background: rgba(179, 69, 241, 1);
}

.bg-circle:hover .bg-circle3 {
    width: 50px;
    height: 50px;
}

.bg-circle:hover .bg-circle4 {
    width: 50px;
    height: 50px;
}

.bg-circle::before {
    transition: height 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    transition: width 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    width: 0;
    height: 0;
    content: " ";
}

.bg-circle:hover::before {
    position: absolute;
    content: " ";
    height: 50px;
    width: 50px;
    filter: blur(40px);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.right-text-person p{
    font-family: 'Poppins-regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.78);
}
.right-text-person{
    z-index: 1;
}
.up-pointer{
    position: relative;
    bottom: 250px;
    right: 90px;
    z-index: 0;
}
.up-pointer p{
    position: absolute;
width: 103px;
height: 320px;
color: rgba(255, 255, 255, 0.78);
font-family: 'lora-medium';
font-weight: 500;
font-size: 250px;
line-height: 320px;
background: linear-gradient(174deg, rgba(252, 252, 252, 0) 22.34%, rgba(255, 255, 255, 0.9) 184.72%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transform: rotate(19.17deg);
margin: 0;
}
.left-arrow{
    padding: 0px 50px;
    height: 100%;
    color: rgba(255, 255, 255, 0.28);
}
.right-arrow{
    padding: 0px 50px;
    height: 100%;
    transform:  rotate(180deg);
}
.left-arrow-svg{
    transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.left-arrow:hover .left-arrow-svg{
    stroke: rgba(255, 110, 48, 1);
    overflow: hidden;
}
.right-arrow-svg{
    transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.right-arrow:hover .right-arrow-svg{
    stroke: rgba(255, 110, 48, 1);
    overflow: hidden;
}
.bot-sliders{
    display: flex;
    width: 17%;
    justify-content: space-evenly;
    padding: 30px 30px;
}
.rectangle{
    width: 44px;
    height: 6px;
    background: rgba(40, 48, 54, 1);
    border-radius: 4px;
    overflow: hidden;
}
.rectangle::before {
    transition: height 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    transition: width 0.3s cubic-bezier(0.45, 0.05, 0.24, 0.83);
    ;
    width: 0;
    height: 0;
    content: " ";
}

.rectangle:hover {
    transform: translateY(-3px);
    transform: scale(1.2, 1.2);
    transition: transform 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.rectangle:hover::before {
    position: absolute;
    content: " ";
    height: 65px;
    width: 65px;
    background: rgba(255, 110, 48, 0.6);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.end-page{
    display: flex;
    justify-content: center;
}
.join-us{
    width: 50%;
    display: flex;
    justify-content: center;
}
.end-text{
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins-medium';
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.end-text h1{
    font-size: 48px;
}
.end-text p{
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);

}
.join-search{
    padding: 7px 8px;
    background: linear-gradient(0deg, #283036, #283036),
        linear-gradient(90.89deg, rgba(255, 255, 255, 0.1) -1.67%, rgba(255, 255, 255, 0) 103.73%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 75%;
}
.polosochka-footer{
    background: rgba(255, 255, 255, 0.15);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    margin-top: 100px;
}
.container-footer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}
.naming-footer{
    display: flex;
}
.naming-footer h2{
    font-family: 'Poppins-semiBold';
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 12px;
}
.under-logo h2{
    font-family: 'Poppins-medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
}.under-logo p{
    font-family: 'Poppins-regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
}
.logo-footer{
    display: flex;
    flex-direction: column;
}
.pages-footer h2{
    font-family: 'Poppins-medium';
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
}
.pages-footer p{
    font-family: 'Poppins-medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}
.pages-footer a{
    font-family: 'Poppins-medium';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
}
@media (min-width: 2048px){
    .link-container a{
        font-size: 20px;
        
    }
    .top-text h1 {
        font-size: 50px;
    }
    .top-text p {
        font-size: 23px;
    }
    .nav{
        height: 60px;
    }
    .nav-button{
        font-size: 17px;
    }
    .container-items{
        width: 70%;
    }
    .logo img{
        width: 120px;
    }
    .text-newcomer h1{
        font-size: 55px;
    }
    .text-newcomer p{
        font-size: 24px;
    }
    .note-tools p{
        font-size: 20px;
    }
    .about-new-tools {
        font-size: 17px;
    }
    .new-tools{
        width: 310px;
        height: 310px;
    }
    .right-text-person p{
        font-size: 18px;
    }
    .up-pointer p{
        font-size: 250px;
    }
    .main-input{
        font-size: 20px;
    }
}

@media (min-width: 1280px) and (max-width: 1366px)
{
    .link-container a{
        font-size: 20px;
    }
    .links{
        width: 40%;
    }
    .top-text h1 {
        font-size: 30px;
    }
    .top-text p {
        font-size: 17px;
    }
    .nav{
        height: 60px;
    }
    .nav-button{
        font-size: 13px;
    }
    .container-items{
        width: 70%;
    }
   
    .text-newcomer h1{
        font-size: 35px;
    }
    .text-newcomer p{
        font-size: 14px;
    }
    .name-tools h2{
        font-size: 20px;
    }
    .note-tools p{
        font-size: 15px;
    }
    .about-new-tools {
        font-size: 14px;
    }
    .new-tools {
        width: 250px;
        height: 260px;
        margin-left: 20px;
    }
    .person{
        width: 90%;
    }
    .right-text-person p{
        font-size: 14px;
    }
    .up-pointer p{
        font-size: 250px;
    }
    .left-arrow {
        padding: 0px 30px
    }
    .right-arrow {
        padding: 0px 30px
    }
    .main-input{
        font-size: 14px;
    }
    .join-search{
        width: 90%;
    }
} 
 @media (min-width: 393px) and (max-width: 500px)
 {
    .link-container a{
        font-size: 23px;
    }
    .links{
        width: 60%;
    }
    .top-text h1 {
        font-size: 40px;
    }
    .top-text p {
        font-size: 21px;
    }
    .nav{
        height: 60px;
    }
    .nav-button{
        font-size: 13px;
    }
    .container-items{
        width: 85%;
    }
   
    .text-newcomer h1{
        font-size: 44px;
    }
    .text-newcomer p{
        font-size: 16px;
    }
    .name-tools{
        margin-left: 20px;
    }
    .name-tools h2{
        font-size: 18px;
       
    }
    .note-tools p{
        font-size: 15px;
    }
    .about-new-tools {
        font-size: 14px;
    }
    .new-tools {
        width: 205px;
        height: 300px;
        margin-left: 10px;
    }
    .main-container-person{
        width: 90%;
    }
    .circle-container {
        margin-right: 90px;
    }
    .person{
        width: 100%;
    }
    .right-text-person p{
        font-size:11px;
        margin-left: 20px;
    }
    .up-pointer p{
        font-size: 250px;
    }
    .left-arrow {
        padding: 0px 10px
    }
    .right-arrow {
        padding: 0px 10px
    }
    .main-input{
        font-size: 14px;
    }
    .join-search{
        width: 90%;
    }
}
.active{
    fill: rgba(253, 59, 65, 1);
    
}